.flexContainer {
  display: flex;
  justify-content: space-between;
}

.left {
  min-width: 300px;
}

.main {
  position: relative;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right:auto;
}

.headerBrand {
  text-align: center;
}

.table {
  min-height: 400px;
  margin-top: 10px;
}

.addModal {
  position: fixed;
  bottom: 50px;
  right: 100px;
}

